In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline

In [3]:
df=pd.read_csv('Car details v3.csv')

In [5]:
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0

In [7]:
df.shape

(8128, 13)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           8128 non-null   object
 1   year           8128 non-null   int64
 2   selling_price  8128 non-null   int64
 3   km_driven      8128 non-null   int64
 4   fuel           8128 non-null   object
 5   seller_type    8128 non-null   object
 6   transmission   8128 non-null   object
 7   owner          8128 non-null   object
 8   mileage        7907 non-null   object
 9   engine         7907 non-null   object
 10  max_power      7913 non-null   object
 11  torque         7906 non-null   object
 12  seats          7907 non-null   float64
dtypes: float64(1), int64(3), object(9)
memory usage: 825.6+ KB

In [12]:
backup=df.copy()

In [13]:
#DATA CLEANING

In [17]:
df.drop_duplicates(inplace=True)
df.shape

(6926, 13)

In [18]:
df.isnull().sum()

name               0
year               0
selling_price      0
km_driven          0
fuel               0
seller_type        0
transmission       0
owner              0
mileage          208
engine           208
max_power        205
torque           209
seats            208
dtype: int64

In [27]:
df.drop(columns='seats',inplace=True)
df.drop(columns='owner',inplace=True)
df.drop(columns='transmission',inplace=True)
df.drop(columns='seller_type',inplace=True)

KeyError: "['seats'] not found in axis"

In [28]:
df['year'].isnull()

0       False
1       False
2       False
3       False
4       False
        ...
8121    False
8122    False
8123    False
8124    False
8125    False
Name: year, Length: 6926, dtype: bool

In [30]:
df.drop(columns='torque',inplace=True)

KeyError: "['torque'] not found in axis"

In [32]:
df=df[~df['mileage'].isna()]
df=df[~df['engine'].isna()]

In [34]:
df.isnull().sum()

name             0
year             0
selling_price    0
km_driven        0
fuel             0
mileage          0
engine           0
max_power        0
dtype: int64

In [36]:
df.head()

,name,year,selling_price,km_driven,fuel,mileage,engine,max_power
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,23.4 kmpl,1248 CC,74 bhp
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,21.14 kmpl,1498 CC,103.52 bhp
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,17.7 kmpl,1497 CC,78 bhp
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,23.0 kmpl,1396 CC,90 bhp
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,16.1 kmpl,1298 CC,88.2 bhp

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6718 entries, 0 to 8125
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           6718 non-null   object
 1   year           6718 non-null   int64
 2   selling_price  6718 non-null   int64
 3   km_driven      6718 non-null   int64
 4   fuel           6718 non-null   object
 5   mileage        6718 non-null   object
 6   engine         6718 non-null   object
 7   max_power      6718 non-null   object
dtypes: int64(3), object(5)
memory usage: 472.4+ KB

In [51]:
df.drop(columns='mileage',inplace=True)
df.drop(columns='engine',inplace=True)
df.drop(columns='max_power',inplace=True)

KeyError: "['mileage'] not found in axis"

In [52]:
df['name']=df['name'].str.split().str.slice(start=0,stop=3).str.join(' ')

In [53]:
df.head()

                   name  year  selling_price  km_driven    fuel
0    Maruti Swift Dzire  2014         450000     145500  Diesel
1       Skoda Rapid 1.5  2014         370000     120000  Diesel
2  Honda City 2017-2020  2006         158000     140000  Petrol
3    Hyundai i20 Sportz  2010         225000     127000  Diesel
4      Maruti Swift VXI  2007         130000     120000  Petrol

In [42]:
#CLEANED DATA

In [54]:
df

                      name  year  selling_price  km_driven    fuel
0       Maruti Swift Dzire  2014         450000     145500  Diesel
1          Skoda Rapid 1.5  2014         370000     120000  Diesel
2     Honda City 2017-2020  2006         158000     140000  Petrol
3       Hyundai i20 Sportz  2010         225000     127000  Diesel
4         Maruti Swift VXI  2007         130000     120000  Petrol
...                    ...   ...            ...        ...     ...
8121        Maruti Wagon R  2013         260000      50000  Petrol
8122     Hyundai i20 Magna  2014         475000      80000  Diesel
8123     Hyundai i20 Magna  2013         320000     110000  Petrol
8124    Hyundai Verna CRDi  2007         135000     119000  Diesel
8125    Maruti Swift Dzire  2009         382000     120000  Diesel

[6718 rows x 5 columns]

In [55]:
df.describe()

              year  selling_price     km_driven
count  6718.000000   6.718000e+03  6.718000e+03
mean   2013.609110   5.263196e+05  7.340230e+04
std       3.900648   5.235398e+05  5.869980e+04
min    1994.000000   2.999900e+04  1.000000e+00
25%    2011.000000   2.500000e+05  3.800000e+04
50%    2014.000000   4.200000e+05  6.822150e+04
75%    2017.000000   6.500000e+05  1.000000e+05
max    2020.000000   1.000000e+07  2.360457e+06

In [57]:
X=df[['name','year','km_driven','fuel']]
y=df['selling_price']

In [59]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [60]:
from sklearn.linear_model import LinearRegression

In [61]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [63]:
ohe=OneHotEncoder()
ohe.fit(X[['name','fuel']])

OneHotEncoder()

In [65]:
column_trans=make_column_transformer((OneHotEncoder(categories=ohe.categories_),['name','fuel']),
                                    remainder='passthrough')

In [67]:
lr=LinearRegression()

In [68]:
pipe=make_pipeline(column_trans,lr)

In [70]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Ambassador CLASSIC 1500', 'Ambassador Classic 2000',
       'Ambassador Grand 1500', 'Ambassador Grand 2000',
       'Ashok Leyland Stile', 'Audi A3 35', 'Audi A3 40', 'Audi A4 1.8',
       'Audi A4 2.0', 'Audi A4 35', 'Audi A6 2.0', 'Audi A6 35',
       'Audi Q3 2.0', 'Au...
       'Volkswagen Vento 1.6', 'Volkswagen Vento Diesel',
       'Volkswagen Vento IPL', 'Volkswagen Vento Konekt',
       'Volkswagen Vento Petrol', 'Volvo S60 D4', 'Volvo S90 D4',
       'Volvo V40 Cross', 'Volvo V40 D3', 'Volvo XC40 D4',
       'Volvo XC60 Inscription', 'Volvo XC90 T8'], dtype=object),
                                                                            array(['CNG', 'Diesel', 'LPG', 'Petrol'], dtype=object)]),
                                                  ['name', 'fuel'])])),
                ('linearregression', LinearRegression())])

In [71]:
y_pred=pipe.predict(X_test)

In [73]:
r2_score(y_test,y_pred)

0.5795580778755022

In [74]:
scores=[]
for i in range(1000):
    X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.1,random_state=i)
    lr=LinearRegression()
    pipe=make_pipeline(column_trans,lr)
    pipe.fit(X_train,y_train)
    y_pred=pipe.predict(X_test)
    scores.append(r2_score(y_test,y_pred))

In [76]:
np.argmax(scores)

74

In [78]:
scores[np.argmax(scores)]

0.9356211963004533

In [79]:
pipe.predict(pd.DataFrame(columns=X_test.columns,data=np.array(['Maruti Swift Dzire',2014,145500,'Diesel']).reshape(1,4)))

array([482428.00425053])